*{margin: 0;
padding: 0; }
body{font-family: sans-serif;}
a{text-decoration: none;color: #ffffff; transition: 0.3s; border-radius: 1px;}
.menu a:hover{color: #1ceaa9; border-radius: 5px; font-size: 25px; }
/* Header Menu */
header {display: inline-block; width: 100%; text-align: right; }
.menu div{margin-right: 70px; }
ul .Apply{padding: 20px; background-color: #15c58d;}
 header ul li{display: inline-block; margin: 40px 20px 30px 40px ; font-size: 20px; font-weight: 600;}
 /* First Section */
 .firstsection{height: 500px; width: 100%; display: inline-block; padding: 50px 0px 70px 0px; text-align: center; background-image: url(img/cover.jpg);}
/* Form */
.form{width: 400px; display: inline-block; background-color: #242627;padding: 45px 35px 35px 35px;}
.form button,select{width: 400px; padding: 20px;}
.form button{background-color: #15c58d;cursor: pointer; border: unset;}
.form .p2{width: 100%; }
.form p,label{color: rgb(167, 162, 162);width: 100%;}
.form .p{text-align: left;width: 100%; padding:20px 0px 15px 0px ;}
.form label,select{display: inline-block;padding: 20px; }
option{background-color: #15c58d; font-size: 20px;}
.caption{width: 750px; display: inline-block;}
span{color: #4be7b7;font-weight: bold;}
.caption h1{display: block; font-size: 62px; text-align: left; border-bottom: 1px solid grey; padding-right: 260px;}
.caption p{text-align: left;display: block; font-size: 24px; margin:0px 290px 30px 0px;}
.caption button{text-align: left;display: block; padding: 20px 34px; font-size: 16px; font-weight: 600; background-color: #19b08054;cursor: pointer; transition: 0.3s; border: 2px solid black;}
.caption button:hover{background-color: #19b080;}

/* Second Section */
.secondsection{margin: 70px 0px 20px 50px; }
.secondsection .head{display: inline-block; text-align: center;width: 1250px; margin: 0px 170px 0px 170px;}
.secondsection .head h2{font-size: 35px; border-bottom: 2px solid #19b080; padding-bottom: 20px;}
.secondsection .head p{font-size: 20px; display: block; box-sizing: border-box; margin: 25px 350px 20px 350px; font-weight: bold;}
/* Cards */
.head p{color: #a69d91;}
.cards{margin: 20px 60px 20px 120px; height:470px ;}
.card{display: inline-block; width: 27%; height: 100%; margin: 0px 30px;}
.card h3{font-size: 25px;}
.card p{color: #a69d91;}
.card h5,p,h3{padding: 18px 0px; margin-right: 100px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.card:hover h3 a{color: #20c997;}
h5{color: #7dffcd;}
 /* Third Section */
 .thirdsection {background-color: rgb(38, 62, 56); padding: 110px 0px 90px 0px; height: 562px}
 .third,.img{width: 44%; display: inline-block; }
 .third{padding-left: 190px;}
 .thirdsection img{margin: 0px 130px 0px 140px;}
 .third h2{width: 58%;  font-size: 40px; padding-bottom: 10px; margin-bottom: 22px;font-weight: 700;color: #ddd9d2;}
.third p{width: 70%; font-size: 20px; margin-bottom: 15px; padding-bottom: 30px; border-bottom: 1px solid gray; color: #b2a99d; }
.third li{ font-size: 20px;font-weight: 600; color: rgb(184, 177, 165); padding: 12px; list-style-image:url(img/number1.svg) ;}
.third button{padding: 17px 45px; margin-top: 20px; color: rgb(80, 255, 201); font-size: 17px; font-weight: 700; border: 2px solid #50ffc9;cursor: pointer;transition: 0.2s;background-color: initial;}
.third button:hover{color:white; background-color:rgb(25, 176, 128); border-color: rgb(25, 176, 128);}
 /* Fourth section */
 .fourthsection{display: block;text-align: center; padding: 40px 20px; background-color: #193b34;}
 .fourthsection h2{font-size: 40px; padding:20px 0px; border-bottom: 2px solid #19b080 ;color: #ddd9d2; margin: 0px 640px 0px 640px;}
 .fourthsection h3{width: 100%;}
 .fourthsection p,.cards{width: 100%; margin: 0px; font-size: large; }
 .fourthsection .cards{height: 370px; margin-top: 30px;}
 .fourthsection .card{width: 18%; margin: 0px 15px;}

 /* Fifth section */
 .fifthsection{padding: 110px 0px 90px 0px; background-color: #263e38; }
 .fifthsection img{width: 500px; height: 500px; border-radius: 2px;}
.fifthsection .fifth,.img2{display: inline-block; width: 45%;}
.fifth{margin-left: 150px;}
.fifth h2{font-size: 40px; margin: 0px 0px 22px 0px; padding: 0px 0px 10px 0px; color: #ddd9d2;}
.fifth p{font-size: 18px; margin: 20px 0px; padding: 0px 0px 30px 0px; color: #b2a99d;width: 72%;line-height: 1.5;font-weight: 400; border-bottom: 2px solid rgba(128, 128, 128, 0.089);}
.fifth li{font-size: 20px; color: #ddd9d2; margin: 20px 0px; padding-left: 20px; list-style-image: url(img/number1.svg);}
.fifth button{padding: 17px 45px; margin-top: 20px; color: rgb(80, 255, 201); font-size: 17px; font-weight: 700; border: 2px solid #50ffc9;cursor: pointer;transition: 0.2s;background-color: initial;}
.fifth button:hover{color:white; background-color:rgb(25, 176, 128); border-color: rgb(25, 176, 128);}

/* Sixth section */
.sixthsection{height:450px ; background-color: #184334;width: 100%; padding: 50px 0px 10px 0px;}
.content{text-align: center; margin: 0px 400px; display: block;}
.content p{color: #cdf2e7;font-size: 24px; margin: 0px 0px 25px 0px; line-height: 1.6;font-weight: 500; text-align: left; }
.profile{display: inline-block;width: 100%; text-align: left;}

/* Seventh Section */
.seventhsection{width: 100%; text-align: center; height: 777px ; padding: 110px 0px 90px 0px;}
.seventhsection .head h2{font-size: 40px; margin:  0px 600px 50px 600px; padding: 0px 0px 24px 0px; color: #ddd9d2;border-bottom:  2px solid #19b080 ;}
.seventhsection .cards{margin: 10px 0px; text-align: left;}

/* Footer */
footer{font-family: sans-serif; display: inline-block; width: 100%; background-color:#193b34 ; height: 520px;text-align: center;padding-top: 80px;}
footer .fst,.snd,.trd,.fth{display: inline-block; width: 22%; height: 70%; text-align: left;}
footer h4{color: #ddd9d2;font-size: 20px; margin-bottom: 30px;}
footer p, .trd li ,.snd li {color: #c4bdb3; font-size: 16px; margin-bottom: 15px; list-style: none;}
footer a:hover{color: #15c58d; border-bottom: 1px solid #15c58d;}



